<% provide(:title, "Users") %>

<h1>利用者一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'  %>
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th>名前</th>
        </tr>
      </thead>
      
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, user %>
            <% if user.admin? %>
              <label class="label label-primary">管理者</label>
            <% else %>
              <label class="label label-success">一般</label>
            <% end %>
          </td>
          <td>
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "#{user.name}のデータを削除してよろしいですか？" },
                  class: "btn btn-danger" %>
            <% end %>             
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'  %>
  </div>
</div>